<footer class="py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center">
            <img style="width: 100px;" src="{{asset('assets/general/logo-ecom.png')}}" alt="">
            <br>
            <br>
            <hr style="
                border-top: 1px solid #3e3e3e;
            ">
            <div class="row">
                <div class="col-6 mt-1">
                    <img style="width: 100%;"  src="{{asset('assets/general/logo_chtv.png')}}" alt="">
                </div>
                <div class="col-6">
                    <img style="width: 100%;"  src="{{asset('assets/frontend/images/logoradio2020blanco.png')}}" alt="">
                </div>
            </div>
                
            </div>
            <div class="col-md-6" style="border-left: 1px solid #353434; border-right: 1px solid #353434;">
                <h5 class="footer-title">Contacto</h5> <br>
                <div class="row">
                    <div class="col-6">
                        Horario de Atención <br>
                        Lunes a Viernes: De 06 hs a 21 hs. <br>
                        Sabados : De 08 hs a 13 hs. <br>
                        Dirección: Roque Sáenz Peña 352/370
                    </div>
                    <div class="col-6">
                        Email: at.usuarios@ecomchaco.com.ar <br>
                        Teléfono: (362) 4419300 <br>
                        Fax: (362) 4458339 <br>
                        Guardia: (362) 154883049 
                    </div>
                </div>
            </div>
            <div class="col-md-1 text-center pt-5" style="border-right: 1px solid #353434;">
                <a href="https://www.facebook.com/chacotelevision" target="_blank" class="redes">
                    <i class="fab fa-facebook-square"></i>
                </a>

                <a href="https://twitter.com/ChacoTv" target="_blank" class="redes">
                    <i class="fab fa-twitter-square"></i>
                </a>

                <a href="https://www.youtube.com/user/tvpublicachaco" target="_blank" class="redes">
                    <i class="fab fa-youtube-square"></i>
                </a>
            </div>
            <div class="col-md-2 text-center">
                <h5 class="footer-title">Nuestras Apps</h5>
                <p>
                    Chaco TV <br>
                    <div style="display: flex; justify-content: space-around;">
                        <a href="https://play.google.com/store/apps/details?id=com.ecom.chaco_tv" target="_blank">
                            <img style="height: 24px;" src="{{asset('assets/frontend/images/googleplay.png')}}" alt="">
                        </a>
                        <a href="https://itunes.apple.com/ar/app/chaco-tv/id1438431430" target="_blank">
                            <img style="height: 24px;" src="{{asset('assets/frontend/images/appstore.png')}}" alt="">
                        </a>
                    </div>
                </p>
                <p>
                    Radio Provincia <br>
                    <a href="https://play.google.com/store/apps/details?id=com.ecom.radioprovincia" target="_blank">
                        <img style="width: 70px;" src="{{asset('assets/frontend/images/googleplay.png')}}" alt="">
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>