<!DOCTYPE html>
<html lang="{{ app.request.locale|split('_')|first|default('en') }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href='{{asset('assets/backend/favicon.png')}}' rel="shortcut icon" type="image/x-icon" />
         <title>Chaco TV</title>
        {% block stylesheets %}
              <link rel="stylesheet" href="{{asset('bundles/easyadmin/stylesheet/bootstrap.min.css')}}">
              <link rel="stylesheet" href="{{asset('bundles/easyadmin/stylesheet/font-awesome.min.css')}}">
        {% endblock %}

        {% block head_javascript %}
            <script src="{{ asset('bundles/easyadmin/javascript/jquery.min.js') }}"></script>
            <script src="{{ asset('bundles/easyadmin/javascript/bootstrap.min.js') }}"></script>
            <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
        {% endblock %}
    </head>
    <body style="background-image:url('{{asset('assets/backend/login_wallpaper.jpg')}}'); background-repeat: no-repeat;
    background-size: cover;opacity: 0.90;
    filter: alpha(opacity=90);height:100%;">
        <div>
            <!-- {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
            {% endif %} -->
        </div>

        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message|trans({}, 'MWSimpleAdminCrudBundle') }}
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

        <div>
            {% block fos_user_content %}
            {% endblock fos_user_content %}

        </div>
        <footer>
            <div>
                <div style="height:100px;margin-left:85%;margin-top:10%;" >
                    <img src="{{asset('assets/backend/ecom.png')}}" alt="">
                </div>
            </div>
        </footer>
    </body>
</html>
